.profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  max-width: 120ch;
  height: 100%;
  margin: 0 auto;
}

.delete-profile-button {
  width: fit-content;
}
