.radio-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
}

.radio-select-random-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-color);
  /* Icon color can be changed with "color" property */
  color: var(--text-color);
  font-size: clamp(0.6rem, 0.6rem + 0.2vw, 1rem);
}
.radio-select-random-button:hover {
  filter: brightness(0.9);
}
.radio-select-random-button:disabled {
  background-color: var(--disabled-element-color);
  pointer-events: none;
}
