.station-search-result-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  gap: 1rem;
  margin: 1rem 0;
}

.station-search-result-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
  -webkit-box-shadow: var(--text-color) 0px 3px 10px -3px;
  -moz-box-shadow: var(--text-color) 0px 3px 10px -3px;
  box-shadow: var(--text-color) 0px 3px 10px -3px;
  border-bottom: 2mm dotted var(--accent-color);
  background-color: var(--background-color);
}
.station-search-result-card p {
  margin: 0.5rem 0;
}

.station-search-card-load-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin: 1rem;
  margin-top: auto;
  background-color: var(--secondary-color);
  transition: all 0.2s;
}
.station-search-card-load-button:hover {
  background-color: var(--accent-color);
}
