.podcast-category-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 120ch;
  height: 100%;
  margin: 1rem auto;
  gap: 1rem;
}

.podcast-category-title {
  font-size: clamp(1rem, 1rem + 1vw, 1.2rem);
  margin: 0;
}

.podcast-category-back-button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  padding: 0.5em;
  font-size: clamp(0.7rem, 0.7rem + 1vw, 1rem);
  background-color: var(--primary-color);
  width: fit-content;
}
.podcast-category-back-button:hover {
  filter: brightness(0.9);
}
