.audio-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 120ch;
  height: fit-content;
}

.mobile,
.desktop {
  display: none;
  width: 100%;
}

@media (max-width: 430px) {
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
}

@media (min-width: 431px) {
  .mobile {
    display: none !important;
  }
  .desktop {
    display: block !important;
  }
}
