.radio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 60ch;
  padding: 1rem;
}

.radio-card p {
  word-break: break-all;
}
