.radio-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.radio-card-actions {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
}

.favourite-icon {
  margin-left: auto;
}

.radio-card-error-text {
  margin: 0;
}
