.drawer-background-container {
  /* Add opacity to drawer background and close drawer when clicked by user */
  z-index: 5; /* Needs to be smaller compared to drawer z-index */
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: var(--background-color);
}

.drawer {
  z-index: 10; /* Needs to be higher compared to map and drawer container z-index */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  padding: 1rem;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80%;
  background-color: var(--drawer-background-color);
  border-top: 2mm solid var(--secondary-color);
  border-radius: 16px 16px 0 0;
}

.drawer-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.drawer-info-container,
.drawer-content {
  max-width: clamp(90ch, 90ch + 5vw, 120ch);
}

button.drawer-close-button {
  background-color: transparent;
  color: var(--text-color);
  padding: 0;
}

button.drawer-drag-button {
  cursor: grab;
  touch-action: none; /* for touchscreens */
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 0 1rem;
  background-color: var(
    --drawer-background-color
  ); /* Same color as drawer background */
  color: var(--text-color);
  outline: none !important;
}
button.drawer-drag-button:hover {
  border: 1px solid transparent;
}
button.drawer-drag-button:active {
  cursor: grabbing;
}

.drawer-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0.8rem 0;
}

.drawer-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  padding: 0 1rem;
}
