.station-search-result-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  gap: 1rem;
  margin: 1rem 0;
}

.station-search-result-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.2rem;
  border-radius: 8px;
  background-color: var(--background-color);
}
.station-search-result-card p {
  margin: 0.5rem 0;
}

.station-search-card-load-button,
.station-search-load-more-results-button {
  height: fit-content;
  gap: 0.2rem;
  transition: all 0.2s;
}

.station-search-card-load-button {
  margin: 1rem;
  margin-top: auto;
}

.station-search-load-more-results-button {
  width: 100%;
  margin: 2rem 0;
}
