.podcast-info-card {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100% !important;
}

.podcast-info-card-pill-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5rem 0;
}

.podcast-info-card-follow-button {
  margin-left: auto;
}

@media (max-width: 430px) {
  /* Mobile View */
  .podcast-info-card-follow-button {
    margin-left: 0;
  }
}
