.podcast-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.podcast-card-artwork {
  border-radius: 8px;
}

.podcast-card-title-author-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  word-break: break-all;
}

.podcast-card-title,
.podcast-card-author {
  padding: 0 !important;
  margin: 0 !important;
}

.podcast-card-title {
  font-weight: bold;
  color: var(--text-color);
  font-size: clamp(0.7rem, 0.7rem + 1vw, 1rem);
}

.podcast-card-author {
  color: var(--subtitle-text-color);
  font-size: clamp(0.6rem, 0.6rem + 1vw, 0.8rem);
}

.podcast-card-title-large {
  font-weight: bold;
  font-size: clamp(0.9rem, 0.9rem + 1vw, 1.2rem);
  margin: 0;
}
.podcast-card-author-large {
  color: var(--subtitle-text-color);
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1rem);
  margin: 0;
}

.podcast-card-category-pill {
  background-color: var(--secondary-color);
}
