.podcast-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: fit-content;
}

.podcast-card-title-author-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  word-break: break-all;
}

.podcast-card-title,
.podcast-card-author,
.podcast-card-title-large,
.podcast-card-author-large {
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  /* handle text overflow, limit to max-height before scrolling in y-axis */
  overflow-y: auto; /* hide the scrollbar when it is not needed */
  max-height: 6rem;
}

.podcast-card-title {
  font-weight: bold;
  color: var(--text-color);
  font-size: clamp(0.7rem, 0.7rem + 1vw, 1rem);
}

.podcast-card-author {
  color: var(--subtitle-text-color);
  font-size: clamp(0.6rem, 0.6rem + 1vw, 0.8rem);
}

.podcast-card-title-large {
  font-weight: bold;
  color: var(--text-color);
  font-size: clamp(0.9rem, 0.9rem + 1vw, 1.2rem);
}
.podcast-card-author-large {
  color: var(--subtitle-text-color);
  font-size: clamp(0.8rem, 0.8rem + 1vw, 1rem);
}

.podcast-card-category-pill {
  background-color: var(--secondary-color);
}

@media (max-width: 430px) {
  /* Mobile View */
  .podcast-card {
    display: flex;
    flex-direction: row;
  }
}
