.favourite-stations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.no-favourite-text {
  font-size: 1.1rem;
}

.add-favourite-station-info {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 0.5rem;
}
