.podcast-episode-card {
  display: flex;
  flex-direction: column;
}

.podcast-episode-card-artwork {
  margin-bottom: 1rem;
}

.podcast-episode-card-title {
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.1rem;
  text-wrap: wrap;
}
.podcast-episode-card-title.active-link:hover {
  text-decoration: underline;
}

.podcast-episode-card-description {
  font-size: 1rem;
  overflow-y: auto;
  max-height: 200px;
}
.podcast-episode-card-description * {
  margin: 1rem 0;
  /* Override any child with style attribute that sets text color */
  color: var(--text-color) !important;
  background-color: transparent !important;
}

.podcast-episode-card-episode-number,
.podcast-episode-card-season-number {
  width: fit-content;
  margin-top: 0.5rem;
}

.podcast-episode-card-play-button {
  width: fit-content;
  gap: 0.1rem;
  font-weight: bold;
  font-size: 1rem;
}

.podcast-episode-card-duration,
.podcast-episode-card-publish-date,
.podcast-episode-card-explicit-indicator {
  color: var(--subtitle-text-color);
  margin: 0;
  font-size: 0.9rem;
}

.podcast-episode-card-explicit-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
  width: fit-content;
}

.podcast-episode-card-external-website-link {
  text-decoration: "none";
  width: fit-content;
  word-break: break-word;
}

.podcast-episode-card-share-button-container {
  margin: 0.5rem 0;
}

.podcast-episode-start-duration-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}
.podcast-episode-time-input {
  width: 50%;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: var(--text-color);
  background-color: transparent;
  border-radius: 8px;
}
