.podcast-episode-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border-bottom: 2mm dotted var(--primary-color);
}

.podcast-episode-card-title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: large;
}

.podcast-episode-card-description {
  font-size: 0.9rem;
  overflow-y: scroll;
  max-height: 200px;
}

.podcast-episode-play-button {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
  font-weight: bold;
  background-color: var(--secondary-color);
  width: fit-content;
}
.podcast-episode-play-button:hover {
  filter: brightness(0.9);
}

.podcast-episode-card-publish-date {
  color: var(--subtitle-text-color);
  margin: 0;
}
