footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.2rem;
  width: 100%;
  padding: 0.2rem;
  font-size: 0.7rem;
  font-weight: bold;
  background-color: var(--primary-color);
  border-left: 2mm dotted var(--accent-color);
  border-right: 2mm dotted var(--accent-color);
}
footer span {
  display: flex;
  align-items: center;
}

#footer-github-link {
  display: flex;
  justify-content: center;
  align-items: center;
}
#footer-github-link:hover {
  filter: brightness(0.5);
}
