footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 0.5rem;
  width: 100%;
  padding-right: 1rem;
  background-color: var(--primary-color);
  color: var(--primary-text-color);
}

footer span,
.footer-subtitle {
  font-size: clamp(0.5rem, 0.5rem + 1vw, 0.8rem);
}

footer span {
  font-weight: bold;
}

.footer-subtitle {
  font-style: italic;
  margin: 0.5rem 0;
}

#footer-github-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon {
  color: var(--primary-text-color);
}
