media-controller {
  --media-primary-color: #fafafa; /* text color */
  --media-secondary-color: #0a0a0a; /* background color */
  --media-control-hover-background: #404040; /* hover background */
}

media-time-range {
  --media-primary-color: var(--primary-color);
  --media-preview-background: var(--primary-text-color);
  width: 50%;
}

.podcast-player {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem auto;
  width: 80%;
  max-width: 120ch;
}

.podcast-play-episode-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  margin-bottom: 0.2rem;
}

.podcast-play-episode-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.podcast-play-episode-title {
  color: var(--text-color);
  font-size: clamp(0.7rem, 0.7rem + 1vw, 1.1rem);
  font-weight: bold;
  margin: 0;
}
.podcast-play-episode-title:hover {
  text-decoration: underline;
}

.podcast-play-episode-date {
  color: var(--subtitle-text-color);
  font-size: clamp(0.6rem, 0.6rem + 1vw, 1rem);
  margin: 0;
}

.podcast-play-episode-number {
  width: fit-content;
  margin-top: 0.2rem;
}

.podcast-play-episode-minimize-player-button,
.podcast-play-episode-expand-player-button {
  margin-left: auto;
}
.podcast-play-episode-minimize-player-button:hover,
.podcast-play-episode-expand-player-button:hover {
  cursor: pointer;
  filter: brightness(0.8);
}
