.favourite-station {
  display: flex;
  flex-direction: row;
  border-bottom: 2mm dashed var(--primary-color);
}
.favourite-station:nth-child(2n) {
  border-bottom: 2mm dashed var(--secondary-color);
}

.favourite-station-actions {
  display: flex;
  justify-content: center;
  margin-top: auto;
  gap: 0.2rem;
}

.remove-favourite-station-button,
.favourite-station-share-button,
.favourite-station-load-button {
  width: fit-content;
  padding: 0.3rem;
  background-color: transparent;
  color: var(--text-color);
}

.remove-favourite-station-button:hover .station-card-favourite-icon.selected {
  /* Ensure that hover on button causes inner icon color change */
  fill: var(--danger-color) !important;
}
