#station-search-type-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.genre-search-button,
.country-search-button,
.search-station-button {
  font-size: clamp(0.5rem, 0.5rem + 1vw, 1rem);
  padding: 0.5rem;
  color: var(--text-color);
  background-color: var(--slider-chip-primary-color);
}
.genre-search-button.selected,
.country-search-button.selected,
.search-station-button.selected {
  background-color: var(--slider-chip-selected-color);
  color: var(--slider-chip-selected-text-color);
}
