.station-search-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.station-search-form input,
.language-select,
.sort-select {
  background-color: var(--background-color);
  color: var(--text-color);
}

.station-search-form input {
  padding: 0.3rem;
  font-size: 1rem;
}

.station-search-form button[type="submit"] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  background-color: var(--secondary-color);
  transition: all 0.3s;
  margin: 1rem 0;
}
.station-search-form button[type="submit"]:hover {
  background-color: var(--accent-color);
}

.error-text {
  color: var(--error-color);
  padding: 0;
  margin: 0;
}

.language-select,
.sort-select {
  padding: 0.2rem;
  font-size: 1rem;
}
.language-select option,
.sort-select option {
  font-size: 1rem;
}
