.podcast-search-result-section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  width: 100%;
}

.podcast-search-result-item {
  width: 100%;
  padding: 0.5rem;
  height: calc(
    220px + 1rem
  ); /* (add top and bottom padding into consideration for height) Set explicit height to stop flickering in react-virtuoso - https://github.com/petyosi/react-virtuoso/discussions/1083 */
  overflow: auto;
}

.podcast-search-result-card-detail-link {
  text-decoration: none;
  width: 100%;
}
.podcast-search-result-card-detail-link:hover {
  text-decoration: underline;
}

.podcast-search-result-empty {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.podcast-search-result-empty p {
  margin: 0;
}

@media (max-width: 430px) {
  /* Mobile View */
  .podcast-search-result-item {
    width: 100%;
    height: calc(
      105px + 1rem
    ); /* (add top and bottom padding into consideration for height) Set explicit height to stop flickering in react-virtuoso - https://github.com/petyosi/react-virtuoso/discussions/1083 */
  }
  .podcast-search-result-section-container {
    gap: 1rem;
  }
}
