.sticky-top {
  position: sticky;
  z-index: 2; /* should be smaller than app Drawer z-index */
  top: 0;
  margin: 0 auto;
  width: 100%;
  background: rgba(var(--text-color), 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(5px);
}

.podcast-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 80%; /* for mobile width */
  max-width: 120ch;
  height: 100%;
  margin: 0 auto; /* center items */
}
