/* https://stackoverflow.com/questions/21621584/padding-causes-horizontal-scroll-it-increases-the-width */
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

:root {
  font-family: monospace, Inter, system-ui, Helvetica, sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.leaflet-container > * {
  /* override font family defined by leaflet */
  font-family: monospace, Inter, system-ui, Helvetica, sans-serif !important;
}

.light-theme {
  /* https://www.realtimecolors.com/?colors=180c15-fdfafc-fdacca-9fcd9b-e45ac2&fonts=Ubuntu-Ubuntu */
  --text-color: #180c15;
  --primary-text-color: #180c15;
  --subtitle-text-color: #525252;
  --background-color: #fdfafc;
  --sidebar-background-color: #e5e5e5;
  --sidebar-item-hover-color: #d4d4d4;
  --dialog-background-color: #e5e5e5;
  --primary-color: #fdacca;
  --secondary-color: #9fcd9b;
  --accent-color: #e45ac2;
  --error-color: #a80b0b;
  --success-color: #0e5d3c;
  --link-color: #0b2881;
  --disabled-element-color: #a3a3a3;
  --slider-chip-primary-color: #d4d4d4;
  --slider-chip-secondary-color: #e5e5e5;
  --slider-chip-selected-color: #262626;
  --slider-chip-selected-text-color: #f5f5f5;
  --drawer-background-color: #f5f5f5;
  --danger-color: #dc2626;
}

.dark-theme {
  /* https://www.realtimecolors.com/?colors=f6f7ec-0e0f08-6FB2FF-e4e4e7-0067FF&fonts=Ubuntu-Ubuntu */
  --text-color: #f6f7ec;
  --primary-text-color: #19190b;
  --subtitle-text-color: #d4d4d4;
  --background-color: #0e0f08;
  --sidebar-background-color: #262626;
  --sidebar-item-hover-color: #404040;
  --dialog-background-color: #262626;
  --primary-color: #6fb2ff;
  --secondary-color: #e4e4e7;
  --accent-color: #0067ff;
  --error-color: #ff3535;
  --success-color: #22c55e;
  --link-color: #e6f0f7;
  --disabled-element-color: #737373;
  --slider-chip-primary-color: #525252;
  --slider-chip-secondary-color: #737373;
  --slider-chip-selected-color: #d4d4d4;
  --slider-chip-selected-text-color: #171717;
  --drawer-background-color: #262626;
  --danger-color: #dc2626;
}

.error-text {
  color: var(--error-color);
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all 300ms;
}
#drawer-root {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  margin: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

/* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
li {
  text-wrap: pretty;
}

a {
  color: var(--link-color) !important;
}
a:hover {
  filter: brightness(0.8);
}
