header {
  display: flex;
  margin: 0 auto;
  width: 80%;
  max-width: 70ch;
  border-bottom: 2mm dotted var(--primary-color);
}

.header-app-name {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
}
