.radio-player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.mobile,
.desktop {
  display: none;
  width: 100%;
}

@media (max-width: 430px) {
  .mobile {
    display: flex !important;
    justify-content: center;
  }
  .desktop {
    display: none !important;
  }
}

@media (min-width: 431px) {
  .mobile {
    display: none !important;
  }
  .desktop {
    display: flex !important;
    justify-content: center;
  }
}
