.pagination-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  max-width: 120ch;
}

.pagination-content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.2rem;
  list-style: none;
}

.pagination-item {
  width: fit-content;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: var(--text-color);
  border: 2px solid transparent; /* have same size as active pagination item */
}
.pagination-item.active {
  border: 2px solid #e5e5e5;
}
.pagination-item:hover {
  cursor: pointer;
  filter: brightness(0.8);
  background-color: var(--background-color);
}
