.radio-select-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
}

.radio-select-random-button {
  background-color: var(--primary-color);
  /* Icon color can be changed with "color" property */
  color: var(--primary-text-color);
  font-size: clamp(0.6rem, 0.6rem + 0.2vw, 1rem);
}
